{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Feed - Miaudote</title>
    <link rel="stylesheet" href="{% static 'pages-style/home.css' %}">
</head>
<body>
    <header class="header">
        <img src="{% static 'autenticacao/logo-miaudote-semfundo.png' %}" alt="Logo" class="logo">
        <h1></h1>
    </header>

    <div class="feed-container">
        {% for pet in pets %}
        <div class="post">
            <div class="post-image-container">
                <img src="{{ pet.foto.url }}" alt="{{ pet.nome }}" class="post-image">
                <div class="post-title-overlay">{{ pet.nome }}</div>
            </div>

            <div class="post-details">
                <p>{{ pet.descricao|truncatechars:100 }}</p>
            </div>

            <div class="post-footer">
                <a href="{% url 'petDescription' pet.id %}" class="view-more">Ver mais</a>
            </div>
        </div>
        {% empty %}
        <p>Nenhum pet encontrado.</p>
        {% endfor %}
    </div>
</body>
</html>
