{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Descrição de {{ pet.nome }}</title>
  <link rel="stylesheet" href="{% static 'pages-style/description-style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="container">
    <img src="{{ pet.foto.url }}" alt="Foto de {{ pet.nome }}">
    <div class="info">
      <h2>{{ pet.nome }}</h2>
      <p><strong>Descrição:</strong> {{ pet.descricao }}</p>
      <p><strong>Idade:</strong> {{ pet.idade }} anos</p>
      <p><strong>Vacinado:</strong> {% if pet.vacinado %}Sim{% else %}Não{% endif %}</p>

      <a class="btn" href="{% url 'petAdoptionForm' pet.id %}">Tenho interesse em adotar</a>
    </div>
  </div>

</body>
</html>
