{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Animal</title>
  <link rel="stylesheet" href="{% static 'autenticacao/petRegister.css' %}">
</head>
<body>

  <div class="container">
    <div class="header">
      <div class="profile-pic">
        <img src="{% static 'autenticacao/logo-miaudote-semfundo.png' %}" alt="Logo Miaudote" style="width: 70px; height: 70px; border-radius: 50%;">
      </div>
    </div>

    <form method="post" enctype="multipart/form-data" class="form-content">
      {% csrf_token %}

      <div class="form-group">
        <label for="{{ form.foto.id_for_label }}">Foto do animal:</label>
        {{ form.foto }}
      </div>

      <div class="form-group">
        <label for="{{ form.nome.id_for_label }}">Nome:</label>
        {{ form.nome }}
      </div>

      <div class="form-group">
        <label for="{{ form.descricao.id_for_label }}">Descrição:</label>
        {{ form.descricao }}
      </div>

      <div class="form-group">
        <label for="{{ form.idade.id_for_label }}">Idade:</label>
        {{ form.idade }}
      </div>

      <div class="form-group">
        <label for="{{ form.vacinado.id_for_label }}">Vacinado:</label>
        {{ form.vacinado }}
      </div>

      <div class="form-group">
        <input type="submit" value="Cadastrar Animal">
      </div>
    </form>
  </div>

</body>
</html>
