{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="{% static 'autenticacao/registerStyle.css' %}?v=2">

</head>

<body>
    <div class="container">
        <div class="header">
            <div class="profile-pic">
                <span style="font-size: 2.5rem;"></span>
            </div>
        </div>
        <form method="POST" class="form-content">
            {% csrf_token %}

            <div class="form-group">
                {{ user_form.username.errors }}
                <label>Usuario:</label>
                {{ user_form.username }}
            </div>

            <div class="dob-gender">
                <div class="form-group">
                    <label>Data Nascimento:</label>
                    <input type="date" name="birthdate">
                </div>
                <div class="form-group">
                    <label>Gênero:</label>
                    <select name="gender">
                        <option value="">Selecione</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                        <option value="O">Outro</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Endereço:</label>
                <input type="text" name="address">
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input type="email" name="email">
            </div>

            <div class="form-group">
                <label>Confirme o email:</label>
                <input type="email" name="confirm_email">
            </div>

            <div class="form-group">
                {{ user_form.password1.errors }}
                <label>Senha:</label>
                {{ user_form.password1 }}
            </div>

            <div class="form-group">
                {{ user_form.password2.errors }}
                <label>Confirme a senha:</label>
                {{ user_form.password2 }}
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar">
            </div>
        </form>
    </div>
</body>

</html>